<html>
    <head>
        <meta charset="utf-8">
        <title>About Purendra!</title>
    </head>
    <body>
        <h1>Welcome to the about me page</h1>
    <p>
		My name is Purendra Agrawal. I am Test Engineer in Infosys Limited working with client MSSB. My hobby is to learn the new things.
	</p>
	<p>
		For more details visit my <a href="https://www.linkedin.com/in/purendraagrawal/"> Linkedin Page </a> 
    </p>
	
	<p>
		Contact me : <a href="mailto:purendra.agrawal@gmail.com">purendra.agrawal@gmail.com</a>
	</p>
    <a href="/">Go back home</a>
    </body>
</html>